<div class="static-content">
  <h2> <%= t "static_pages.about" %> </h2>
  <p> <%= t "about.first_line" %><a href="#"><%= t "about.this_facebook" %></a>'s <a href="#"><%= t "about.rubyonrails" %></a>, <a href="#"><%= t "about.javascript" %></a> <%= t "about.course" %>.</p>
  <p><%= t "about.second_line" %></p>
  <p><%= t "about.third_line" %>
    <%= link_to "Privacy Policy" , privacy_path %>
  <%= t "about.fourth_line" %></p>
  <p><%= t "about.fifth_line" %> <a href="#"><%= t "about.heroku" %></a> <%= t "about.source" %> <a href="https://github.com/suupham2506"> <%= t "about.github" %></a>.</p>
  <p> <%= t "about.learn" %><a href="https://github.com/suupham2506"><%= t "about.document" %></a>.</p>
  <p> <%= t "about.comments" %><a href="https://www.facebook.com/suu.pham.986"> <%= t "about.peterpham" %></a> or <a href="https://www.facebook.com/xixon.duong.3"><%= t "about.tranthithanh" %></a>.</p>
</div>
