<div class="static-content">
  <h2> <%= t "static_pages.privacy" %> </h2>
  <h5> <%= t "terms.last_update" %> </h5>
  <p><%= t "privacy.line" %></p>
  <h3><%= t "privacy.information" %></h3>
  <p><%= t "privacy.first_line" %></p>
  <p><%= t "privacy.second_line" %></p>
  <p><%= t "privacy.third_line" %></p>
  <h3><%= t "privacy.purpose" %></h3>
  <p><%= t "privacy.fourth_line" %></p>
  <h3><%= t "privacy.subject" %></h3>
  <p><%= t "privacy.fifth_line" %></p>
  <h3><%= t "privacy.control" %></h3>
  <p><%= t "privacy.sixth_line" %></p>
  <p><%= t "privacy.seventh_line" %></p>
  <h3><%= t "privacy.third_party" %></h3>
  <p><%= t "privacy.eighth_line" %></p>
  <h3><%= t "privacy.change" %></h3>
  <p><%= t "privacy.ninth_line" %></p>
  <h3><%= t "privacy.contact" %></h3>
  <p><%= t "privacy.tenth_line" %><a href="https://github.com/suupham2506"><%= t "about.peterpham" %></a> or the <a href="https://github.com/TranThiThanh"><%= t "about.tranthithanh" %></a>.</p>
</div>
