<div class="static-content">
  <h2> <%= t "static_pages.terms" %> </h2>
  <h5> <%= t "terms.last_update" %> </h5>
  <p><%= t "terms.first_line" %>
    <%= link_to "Facebook", root_path %>
    <%= t "terms.second_line" %>
    <%= link_to "Privacy", privacy_path %>
    <%= t "terms.third_line" %>
   </p>
  <h3><%= t "terms.term_condition" %></h3>
  <p><%= t "terms.fourth_line" %></p>
  <ul>
    <li><%= t "terms.condition1" %></li>
    <li><%= t "terms.condition2" %></li>
    <li><%= t "terms.condition3" %></li>
  </ul>
  <h3><%= t "terms.termination" %></h3>
  <p><%= t "terms.fifth_line" %></p>
  <p><%= t "terms.sixth_line" %></p>
</div>
