<div class="signup">
  <section class="main-bkg">
    <div class="main-container">
      <div class="col-left">
        <div class="left-title">
          <%= t "users.title" %>
        </div>
        <%= image_tag "connect.png", alt: t( "users.connect") %>
      </div>
      <div class="title-col-right">
        <div class="title-right-up">
          <h1 class="create"><%= t "users.create" %></h1>
          <div class="free-style">
            <%= t "users.free" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render partial: "shared/footer" %>
