<div class="footer">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <nav>
      <ul>
        <li><%= link_to t("sessions.about"), "#" %></li>
        <li><%= link_to t("sessions.contact"), "#" %></li>
        <li><%= link_to t("sessions.help"), "#" %></li>
        <li><%= link_to t("sessions.signup"), "#" %></li>
        <li><%= link_to t("sessions.page"), "#" %></li>
      </ul>
    </nav>
  </div>
</div>
