<div class="footer-container">
  <footer class="signup-footer">
    <ul>
      <li> <%= link_to t("static_pages.about"), about_path %> </li>
      <li> <%= link_to t("static_pages.contact_help"), help_path %> </li>
      <li> <%= link_to t("static_pages.privacy"),privacy_path %></li>
      <li> <%= link_to t("static_pages.terms"), terms_path %> </li>
    </ul>
    <p> <%= t "shared.footer" %> </p>
  </footer>
</div>
