<div id="navwrapper">
  <div id="navbar">
    <%= form_for(:session, url: login_path) do |f| %>
   <table class="tablewrapper">
    <tr>
      <td class="row1">
      <%= f.label :email , t("shared.email") %>
      </td>
      <td class="row1"><%= f.label :password , t("shared.password") %></td>
    </tr>
    <tr>
      <td><%= f.email_field :email, autofocus: true %>
      </td>
      <td><%= f.password_field :password, autocomplete: "off" %>
      </td>
      <td><%= f.submit t("login.button_submit"), id: "button" %></td>
    </tr>
    <tr>
      <td>
        <div class="row2"><%= f.check_box :remember_me %>
        <%= f.label :remember_me, t("shared.remember_me") %></div></td>
      <td class="row2 h"><%= link_to t("shared.forgot_password"), new_password_reset_path ,class:
              "forgotpassword" %></td>
  </table>
  <% end %>
    <h1 class="logowrapper"><%= image_tag "http://www.coderglass.com/social/demo/facebook-style-homepage/facebook.png" %></h1>
  </div>
</div>
