<%= render "layouts/header" %>
<div class="cover">
  <div class= "cover-img">
    <%= image_tag @user.cover %>
  </div>
  <div class="profile-img">
    <%= image_tag @user.avatar %>
  </div>
  <div class= "upload">
    <%= form_for @user do |f| %>
      <%= f.file_field :cover, accept: t("layouts.accept") %>
      <%= f.submit t("users.save") %>
    <% end %>
  </div>
  <div class="cover-name">
    <h1><%= link_to current_user.full_name %></h1>
  </div>
  <div class="banner-bottom">
  <ul>
    <li>
      <%= link_to t("layouts.timeline"), "#", class: "btn" %>
      <%= link_to t("layouts.about"), "#", class: "btn" %>
      <%= link_to t("users.friend"), profile_index_path, class: "btn" %>
      <%= pluralize(current_user.friends.count, "") %>
    </li>
  </ul>
  </div>
</div>
