<div class="sidebar-container">
  <div class="col-md-5">
    <div class="post-form">
      <ul>
        <li>
          <span class="uiIconText _5qtp">
            <i class="glyphicon glyphicon-pencil"></i><%= t "layouts.create" %>
          </span>
        </li>
        <li>
          <span class="uiIconText _5qtp">
            <i class="glyphicon glyphicon-picture"></i><%= t "layouts.image" %>
          </span>
        </li>
      </ul>
      <div class="post-textarea expand">
        <%= image_tag @user.avatar %>
        <textarea title="<%= t "layouts.think" %>" class="_3en1 _480e"
          name="xhpc_message" placeholder="<%= t "layouts.think" %>">
        </textarea>
      </div>
      <div class="post-submit expand">
        <ul>
          <li>
            <span class="uiIconText _5qtp">
              <i class="glyphicon glyphicon-facetime-video">
              </i><%= t "layouts.video" %>
            </span>
          </li>
          <li class="dividers"></li>
          <li>
            <span class="uiIconText _5qtp">
              <img src="/assets/smiles.png" alt="<%= t "layouts.feeling" %>">
              <%= t "layouts.feeling" %>
            </span>
          </li>
          <li>
            <span class="uiIconText _5qtp">
              <img src="/assets/location.png" alt="<%= t "layouts.checkin" %>">
              <%= t "layouts.checkin" %>
            </span>
          </li>
        </ul>
        <input class="primary-btn" name="commit" type="submit" value="Post">
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
