<div class="sidebar-container">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="sm-profile">
      <%= image_tag @user.avatar %>
      <div class="info">
        <%= link_to current_user.full_name %>
        <%= link_to t("layouts.edit"), "#" %>
      </div>
      <ul>
        <li>
          <img src="/assets/newfeed.png" alt="<%= t "layouts.post" %>">
          <%= link_to t("layouts.post"), "#" %>
        </li>
        <li>
          <img src="/assets/timeline.png" alt="<%= t "layouts.timeline" %>">
          <%= link_to t("layouts.timeline"), "#" %>
        </li>
        <li>
          <img src="/assets/friend.png" alt="<%= t "layouts.user" %>">
          <%= link_to t("layouts.user"), users_path %>
        </li>
        <li>
          <%= image_tag @user.avatar %>
          <%= link_to t("layouts.profile"), profile_path(current_user) %>
        </li>
        <li>
          <img src="/assets/friends.png" alt="<%= t "layouts.friends" %>">
          <%= link_to t("layouts.friends"), profile_index_path %>
        </li>
        <li>
          <img src="/assets/add_friend.png" alt="<%= t "layouts.frequest" %>">
          <%= link_to t("layouts.frequest"), "#" %>
        </li>
        <li>
          <img src="/assets/group.jpg" alt="<%= t "layouts.group" %>">
          <%= link_to t("layouts.group"), new_group_path %>
        </li>
        <li>
          <img src="/assets/notification.png"
            alt="<%= t "layouts.notification" %>">
          <%= link_to t("layouts.notification"), "#" %>
        </li>
        <li class="divider"></li>
        <li>
          <img src="/assets/about.png" alt="<%= t "layouts.about" %>">
          <%= link_to t("layouts.about"), about_path %>
        </li>
        <li>
          <img src="/assets/help.png" alt="<%= t "layouts.help" %>">
          <%= link_to t("layouts.help"), help_path %>
        </li>
        <li>
          <img src="/assets/privacy.png" alt="<%= t "layouts.privacy" %>">
          <%= link_to t("layouts.privacy"), privacy_path %>
        </li>
        <li>
          <img src="/assets/download.png" alt="<%= t "layouts.service" %>">
          <%= link_to t("layouts.service"), terms_path %>
        </li>
        <li class="divider"></li>
        <li><%= link_to t("layouts.logout"), "#", method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
